.form-control {
  /* margin: 1rem 0; */
}

.form-control label,
.form-control textarea {
  display: block;
}
.form-control input {
  line-height: 130% !important;
}
.form-control label {
  font-weight: bold;
  font-size: 13px;
  text-align: start;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font-size: 12px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 8px 8px;
  border-radius: 4px;
}
.form-control input::placeholder {
  font-size: 12px;
  color: #ccc;
}
.form-control--invalid input::placeholder {
  color: rgb(236, 134, 134);
}
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}
.invalid-message {
  font-size: 9px;
}
.form-control--invalid label,
.form-control--invalid p {
  color: red;
  text-align: start;
}
.form-control--invalid p {
  margin: 0;
  font-weight: bold;
}
.form-control--invalid input,
.form-control--invalid input:focus,
.form-control--invalid textarea {
  border-color: red;
  color: red;
  background: #ffd1d1;
}
