.toast-container {
  position: fixed;
  right: 2%;
  top: 10%;
  min-width: 200px;
  background-color: rgb(248, 234, 234);
  z-index: 99999;
  border: 1px solid red;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: small;
  color: red;
}
.toast-container p {
  margin: 0;
}
.toast-container::after {
  content: "";
  height: 2px;
  border-radius: 4px;
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: shink 2s ease-in-out;
}
@keyframes shink {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
